body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1017px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1067_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:98px;
}
#u1067 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:98px;
}
#u1068 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:41px;
  width:1097px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:453px;
}
#u1069 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:98px;
  width:1101px;
  height:453px;
}
#u1070 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:218px;
  width:1097px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1071_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:101px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1071 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:549px;
  width:1101px;
  height:101px;
}
#u1072 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:1097px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1073_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:55px;
  background:inherit;
  background-color:rgba(7, 113, 120, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1073 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:532px;
  width:336px;
  height:55px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1074 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:332px;
  word-wrap:break-word;
}
#u1075_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:798px;
}
#u1075 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:650px;
  width:1101px;
  height:798px;
}
#u1076 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:391px;
  width:1097px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1077_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:879px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1077 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:685px;
  width:879px;
  height:29px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1078 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:879px;
  word-wrap:break-word;
}
#u1079_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:828px;
  height:122px;
}
#u1079 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:724px;
  width:828px;
  height:122px;
}
#u1080 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:53px;
  width:824px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1081_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:828px;
  height:63px;
}
#u1081 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:931px;
  width:828px;
  height:63px;
}
#u1082 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:824px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1083_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:834px;
  height:63px;
}
#u1083 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:861px;
  width:834px;
  height:63px;
}
#u1084 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:830px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1085_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:818px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1085 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:1051px;
  width:818px;
  height:29px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1086 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:818px;
  word-wrap:break-word;
}
#u1087_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:834px;
  height:313px;
}
#u1087 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:1104px;
  width:834px;
  height:313px;
}
#u1088 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:148px;
  width:830px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1089_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1111px;
  height:472px;
}
#u1089 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:1484px;
  width:1111px;
  height:472px;
}
#u1090 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:228px;
  width:1107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1091_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:943px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1091 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:2245px;
  width:943px;
  height:29px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1092 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:943px;
  word-wrap:break-word;
}
#u1093_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(7, 113, 120, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u1093 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:2303px;
  width:378px;
  height:57px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u1094 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:356px;
  word-wrap:break-word;
}
#u1095_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(7, 113, 120, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u1095 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:2378px;
  width:378px;
  height:57px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u1096 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:356px;
  word-wrap:break-word;
}
#u1097_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(7, 113, 120, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u1097 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:2452px;
  width:378px;
  height:57px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u1098 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:356px;
  word-wrap:break-word;
}
#u1099_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(7, 113, 120, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u1099 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:2527px;
  width:378px;
  height:57px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u1100 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:356px;
  word-wrap:break-word;
}
#u1101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(7, 113, 120, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u1101 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:2601px;
  width:378px;
  height:57px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u1102 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:356px;
  word-wrap:break-word;
}
#u1103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(7, 113, 120, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u1103 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:2303px;
  width:378px;
  height:57px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u1104 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:356px;
  word-wrap:break-word;
}
#u1105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(7, 113, 120, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u1105 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:2378px;
  width:378px;
  height:57px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u1106 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:356px;
  word-wrap:break-word;
}
#u1107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(7, 113, 120, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u1107 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:2452px;
  width:378px;
  height:57px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u1108 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:356px;
  word-wrap:break-word;
}
#u1109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(7, 113, 120, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u1109 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:2527px;
  width:378px;
  height:57px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u1110 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:356px;
  word-wrap:break-word;
}
#u1111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:943px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1111 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:2710px;
  width:943px;
  height:29px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1112 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:943px;
  word-wrap:break-word;
}
#u1113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:297px;
}
#u1113 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:2762px;
  width:433px;
  height:297px;
}
#u1114 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:140px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:297px;
}
#u1115 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:2762px;
  width:441px;
  height:297px;
}
#u1116 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:140px;
  width:437px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:919px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:20px;
}
#u1117 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:3086px;
  width:919px;
  height:60px;
  font-size:14px;
  line-height:20px;
}
#u1118 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:919px;
  word-wrap:break-word;
}
#u1119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:919px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:20px;
}
#u1119 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:3175px;
  width:919px;
  height:60px;
  font-size:14px;
  line-height:20px;
}
#u1120 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:919px;
  word-wrap:break-word;
}
#u1121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:932px;
  height:326px;
  background:inherit;
  background-color:rgba(0, 118, 128, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1121 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:3713px;
  width:932px;
  height:326px;
}
#u1122 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:155px;
  width:928px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1123 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:3744px;
  width:370px;
  height:29px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1124 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  word-wrap:break-word;
}
#u1125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:275px;
}
#u1125 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:3744px;
  width:1px;
  height:274px;
}
#u1126 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:129px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:40px;
}
#u1127 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:3797px;
  width:362px;
  height:40px;
  font-size:15px;
  color:#FFFFFF;
  line-height:20px;
}
#u1128 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  word-wrap:break-word;
}
#u1129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:55px;
}
#u1129 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:3864px;
  width:362px;
  height:55px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u1130 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  word-wrap:break-word;
}
#u1131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  color:#FFFFFF;
}
#u1131 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:3744px;
  width:370px;
  height:29px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  color:#FFFFFF;
}
#u1132 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  word-wrap:break-word;
}
#u1133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
  line-height:20px;
}
#u1133 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:3797px;
  width:389px;
  height:100px;
  font-size:15px;
  color:#FFFFFF;
  line-height:20px;
}
#u1134 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  word-wrap:break-word;
}
#u1135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u1135 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:3944px;
  width:285px;
  height:57px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u1136 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:21px;
  width:253px;
  word-wrap:break-word;
}
#u1137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u1137 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:3947px;
  width:52px;
  height:52px;
}
#u1138 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u1139 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:3942px;
  width:250px;
  height:57px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u1140 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:21px;
  width:218px;
  word-wrap:break-word;
}
#u1141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:54px;
}
#u1141 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:3944px;
  width:55px;
  height:54px;
}
#u1142 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:932px;
  height:430px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1143 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:3252px;
  width:932px;
  height:430px;
}
#u1144 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:207px;
  width:928px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1145 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:3271px;
  width:508px;
  height:29px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1146 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  word-wrap:break-word;
}
#u1147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:224px;
}
#u1147 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:3334px;
  width:224px;
  height:224px;
}
#u1148 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:104px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1149 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:3363px;
  width:436px;
  height:22px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1150 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  word-wrap:break-word;
}
#u1151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#007680;
}
#u1151 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:3334px;
  width:391px;
  height:18px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#007680;
}
#u1152 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  word-wrap:break-word;
}
#u1153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:53px;
}
#u1153 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:3581px;
  width:237px;
  height:53px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u1154 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  word-wrap:break-word;
}
#u1155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u1155 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:3434px;
  width:21px;
  height:21px;
}
#u1156 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  height:35px;
}
#u1157 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:3433px;
  width:577px;
  height:35px;
  font-size:14px;
}
#u1158 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  word-wrap:break-word;
}
#u1159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u1159 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:3476px;
  width:21px;
  height:21px;
}
#u1160 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:35px;
}
#u1161 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:3478px;
  width:556px;
  height:35px;
  font-size:14px;
}
#u1162 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  word-wrap:break-word;
}
#u1163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u1163 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:3525px;
  width:21px;
  height:21px;
}
#u1164 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:35px;
}
#u1165 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:3527px;
  width:561px;
  height:35px;
  font-size:14px;
}
#u1166 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  word-wrap:break-word;
}
#u1167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u1167 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:3577px;
  width:21px;
  height:21px;
}
#u1168 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:571px;
  height:35px;
}
#u1169 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:3577px;
  width:571px;
  height:35px;
  font-size:14px;
}
#u1170 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:571px;
  word-wrap:break-word;
}
#u1171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1171 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:3406px;
  width:167px;
  height:18px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1172 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u1173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1052px;
  height:502px;
}
#u1173 {
  border-width:0px;
  position:absolute;
  left:-84px;
  top:4116px;
  width:1052px;
  height:502px;
}
#u1174 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:243px;
  width:1048px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:968px;
  height:420px;
}
#u1175 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4659px;
  width:968px;
  height:420px;
}
#u1176 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:202px;
  width:964px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1041px;
  height:528px;
}
#u1177 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:5116px;
  width:1041px;
  height:528px;
}
#u1178 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:256px;
  width:1037px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1092px;
  height:591px;
}
#u1179 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:5696px;
  width:1092px;
  height:591px;
}
#u1180 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:288px;
  width:1088px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1093px;
  height:500px;
}
#u1181 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:6320px;
  width:1093px;
  height:500px;
}
#u1182 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:242px;
  width:1089px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1093px;
  height:556px;
}
#u1183 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:6870px;
  width:1093px;
  height:556px;
}
#u1184 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:270px;
  width:1089px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:188px;
}
#u1185 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7468px;
  width:1101px;
  height:188px;
}
#u1186 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:86px;
  width:1097px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#FFFFFF;
}
#u1187 {
  border-width:0px;
  position:absolute;
  left:816px;
  top:3901px;
  width:116px;
  height:18px;
  text-decoration:underline;
  color:#FFFFFF;
}
#u1188 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u1189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1033px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u1189 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:1992px;
  width:1033px;
  height:60px;
  line-height:20px;
}
#u1190 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1033px;
  word-wrap:break-word;
}
#u1191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1033px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u1191 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:2071px;
  width:1033px;
  height:100px;
  line-height:20px;
}
#u1192 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1033px;
  word-wrap:break-word;
}
#u1193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(7, 113, 120, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u1193 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:2601px;
  width:378px;
  height:57px;
  font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u1194 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:356px;
  word-wrap:break-word;
}
